body {
  background-color: rgb(34, 34, 33);
}
.first-btn-link {
  margin: 50px 50px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: rgb(240, 131, 53);
  border: rgb(240, 131, 53);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
}
.first-btn-link:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.first-btn-link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: rgb(255, 165, 69);
  z-index: -1;
  transition: 0.5s;
  background-size: 400%;
  opacity: 0;
}
.first-btn-link:hover:before {
  filter: blur(20px);
  opacity: 1; /* animation: animate 8s linear infinite; */
}

.two-btn-link {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: rgb(45, 130, 248);
  border: rgb(45, 130, 248);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
}
.two-btn-link:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.two-btn-link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: rgb(94, 198, 243);
  z-index: -1;
  transition: 0.5s;
  background-size: 400%;
  opacity: 0;
}
.two-btn-link:hover:before {
  filter: blur(20px);
  opacity: 1; /* animation: animate 8s linear infinite; */
}

.btn {
  margin: 10px 35px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: rgb(155, 68, 227);
  border: rgb(155, 68, 227);
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
}
.btn:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.btn::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: rgb(211, 101, 245);
  z-index: -1;
  transition: 0.5s;
  background-size: 400%;
  opacity: 0;
}
.btn:hover:before {
  filter: blur(20px);
  opacity: 1; /* animation: animate 8s linear infinite; */
}

.lis-text {
  color: #fff;
}
.deleteBtn {
  color: black;
  margin: 7px 16px;
  box-sizing: border-box;
  background: rgb(234, 29, 70);
  border-radius: 7px;
  border: rgb(239, 34, 75);
  padding: 5px 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.deleteBtn:hover {
  background: rgb(255, 48, 90);
}
.addButton{
  background: rgb(30, 178, 30);
  border:  rgb(30, 178, 30);
  border-radius: 1px 5px 5px 1px;
  padding: 3px 8px;
  margin: 5px -5px;
}